@media print {

  *,
  *:before,
  *:after {
    // background: transparent !important;
    color: #000 !important;
    // box-shadow: none !important;
    text-shadow: none !important;
  }

  // a,
  // a:visited {
  //   text-decoration: underline !important;
  // }

  // a[href]:after {
  //   content: " (" attr(href) ")";
  // }

  // a[href^="#"]:after,
  // a[href^="javascript:"]:after {
  //   content: "";
  // }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img,
  picture,
  source {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3; //кол-во строк внизу печатной страницы
    widows: 3; //кол-во строк вверху печатной страницы, приоритетнее
  }

  h2,
  h3 {
    page-break-after: avoid; //разрыв страницы после элемента запрещен
  }

  table {
    page-break-before: always; //разрыв перед элементом
    border-collapse: collapse !important;

    // td,
    // th {
    //   background-color: #fff !important;
    // }
  }

  //Стили для этого проекта
  .page {
    box-shadow: none !important;
  }

  .main-nav {
    display: none;
  }

  .header--index::before {
    display: none;
  }

  .header--other::before {
    display: none;
  }

  .hotels__search {
    display: none;
  }

  .advantages > .advantages__reason:nth-child(2), 
  .advantages__more {
    break-after: always;
    page-break-after: always;
  }

  .advantages > .advantages__reason:nth-child(3) {
    page-break-before: always;
  }

  .advantages__photo-wrapper,
  .advantages__desc {
    background: transparent !important;
  }

  .header,
  .main-title,
  .advantages__reason,
  .advantages__reason-wrapper,
  .hotels,
  .map,
  .footer {
    page-break-inside: avoid;
  }

  .video__controls {
    display: none;
  }

  .photo {
    page-break-before: always;
    page-break-after: always;
  }

  .photo__item,
  .video {
    page-break-inside: avoid;
  }

  .photo__item:first-child {
    margin-bottom: 2px;
  }

  .photo__desc {
    background: #fff !important;
    outline: 1px solid black;
  }

  .form-contacts {
    margin-bottom: 10px;
  }

  .form-contacts__input {   
    background: transparent;
  }

  .form-contacts__square {
    display: none;
  }

  .form-sights {
    margin-bottom: 10px;
    break-before: always;
    page-break-before: always;
  }

  .review-form__submit {
    display: none;
  }

  .form-intro,
  .form-contacts,
  .form-impression,
  .form-sights,
  .form-emotions {
    page-break-inside: avoid;
  }
}
