@import "sass/global/variables.scss";
@import "sass/global/mixins.scss";
@import "sass/global/normalize.scss";
@import "sass/global/fonts.scss";
@import "sass/blocks/page.scss";
@import "sass/blocks/main-nav.scss";
@import "sass/blocks/header.scss";
@import "sass/blocks/main-title.scss";
@import "sass/blocks/advantages.scss";
@import "sass/blocks/hotels.scss";
@import "sass/blocks/map.scss";
@import "sass/blocks/footer.scss";
@import "sass/blocks/social.scss";
@import "sass/blocks/photo.scss";
@import "sass/blocks/video.scss";
@import "sass/blocks/review-form";
@import "sass/blocks/form-intro";
@import "sass/blocks/form-contacts";
@import "sass/blocks/form-impression";
@import "sass/global/print.scss";
