@import "sass/global/variables.scss";
@import "sass/global/mixins.scss";
@import "sass/global/normalize.scss";
@import "sass/global/fonts.scss";
@import "sass/blocks/page.scss";
@import "sass/blocks/main-nav.scss";
@import "sass/blocks/header.scss";
@import "sass/blocks/main-title.scss";
@import "sass/blocks/advantages.scss";
@import "sass/blocks/hotels.scss";
@import "sass/global/print.scss";
