.advantages__desc {
	background-color: $bg-gray;
	text-align: center;
	text-transform: uppercase;
	padding: 27px 20px 0 20px;
}

.advantages__reason:nth-child(1) .advantages__desc {
	padding-top: 56px;
	background-color: $bg-blue
}

.advantages__reason:nth-child(2) .advantages__desc {
	padding-top: 38px;
	background-color: $bg-blue
}

.advantages__title {
	@include text(700, normal, 18px, 26px, $text-black);
}

.advantages__count {
	padding: 9px 0 15px 0;
	@include text(400, normal, 14px, 21px, $text-gray);
}

.advantages__about {
	padding: 0 10px 27px 10px;
	border-bottom: 1px solid #d6d6d6;
	@include text(400, normal, 14px, 21px, $text-gray);
}

.advantages__reason:nth-child(1) .advantages__about,
.advantages__reason:nth-child(2) .advantages__about {
	padding: 0 0 40px 0;
	border-bottom: none;
}

.advantages__reason:last-child .advantages__about {
	border-bottom: none;
}

.advantages__reason:nth-child(1) .advantages__title, 
.advantages__reason:nth-child(1) .advantages__count, 
.advantages__reason:nth-child(1) .advantages__about {
	color: $text-white;
}

.advantages__reason:nth-child(2) .advantages__title, 
.advantages__reason:nth-child(2) .advantages__count, 
.advantages__reason:nth-child(2) .advantages__about {
	color: $text-white;
}

.advantages__photo-wrapper {
	max-width: 768px;
	width: 100%;
	height: 260px;
	margin: 0 auto;
	overflow: hidden;
	background-color: $bg-white;
}

.advantages__reason:nth-child(2) .advantages__photo-wrapper {
	background-color: $bg-gray;
}

.advantages__photo {
	display: block;
	width: 100%;
	height: auto;
}

.advantages__more {
	// max-width: 767px;
	// margin: 0 auto;
	padding: 0 6.25% 37px 6.25%;
}

.advantages__item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.advantages__logo-wrapper {
	padding-top: 25px;
	width: 42px;
}

.advantages__item:nth-child(2) .advantages__logo-wrapper {
	padding-top: 15px;
	padding-left: 6px;
}

.advantages__logo-house {
	width: 39px;
	height: 37px;
	fill: $bg-blue;
}

.advantages__logo-gift {
	width: 32px;
	height: 38px;
	fill: $bg-blue;
}

.advantages__logo-burger {
	width: 40px;
	height: 35px;
	fill: $bg-blue;
}

.advantages__item-desc {
	padding: 27px 0 0 0;
	margin-left: 11px;
	text-transform: uppercase;
}

.advantages__item:first-child .advantages__item-desc {
	margin-top: 7px;
}

.advantages__item-desc b {
	@include text(700, normal, 18px, 26px, $text-black);
}

.advantages__item-desc p {
	padding-top: 15px;
	@include text(400, normal, 14px, 21px, $text-gray);
}
