.advantages__desc {
	padding: 27px 20px 0 20px;
	text-align: center;
	text-transform: uppercase;
	background-color: $bg-blue;
}

.advantages > .advantages__reason:nth-child(1) .advantages__desc {
	padding-top: 56px;
}

.advantages > .advantages__reason:nth-child(3) .advantages__desc {
	padding-top: 38px;
}

.advantages__reason-wrapper .advantages__reason .advantages__desc {
	background-color: $bg-gray;
}

.advantages__title {
	@include text(700, normal, 18px, 26px, $text-white);
}

.advantages__count {
	padding: 9px 0 15px 0;
	@include text(440, normal, 14px, 21px, $text-white);
}

.advantages__about {
	padding: 0 0 40px 0;
	border-bottom: none;
	@include text(440, normal, 14px, 21px, $text-white);
}

.advantages__reason-wrapper .advantages__about {
	padding: 0 10px 27px 10px;
	border-bottom: 1px solid #d6d6d6;
	color: $text-gray;
}

.advantages__reason-wrapper .advantages__reason:last-child .advantages__about {
	border-bottom: none;
}

.advantages__reason-wrapper .advantages__title, 
.advantages__reason-wrapper .advantages__count {
	color: $text-gray;
}

.advantages__photo-wrapper {
	height: 260px;
	overflow: hidden;
	background-color: $bg-white;
}

.advantages__reason:nth-child(3) .advantages__photo-wrapper {
	background-color: $bg-gray;
}

.advantages__photo {
	display: block;
	width: 100%;
	height: auto;
}

.advantages__more {
	padding: 0 6.25% 37px 6.25%;
}

.advantages__item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.advantages__logo-wrapper {
	padding-top: 25px;
	padding-right: 6px;
	width: 44px;
	min-width: 44px;
}

.advantages__item:nth-child(2) .advantages__logo-wrapper {
	padding-top: 15px;
	padding-left: 6px;
	padding-right: 0;
}

.advantages__item:nth-child(3) .advantages__logo-wrapper {
	margin-left: -2px;
	padding-right: 0;
}

.advantages__logo-house {
	width: 39px;
	height: 37px;
	fill: $bg-blue;
}

.advantages__logo-gift {
	width: 32px;
	height: 38px;
	fill: $bg-blue;
}

.advantages__logo-burger {
	width: 44px;
	height: 35px;
	fill: $bg-blue;
}

.advantages__item-desc {
	padding: 27px 0 0 5px;
	margin-left: 0;
	text-transform: uppercase;
}

.advantages__item:first-child .advantages__item-desc {
	margin-top: 7px;
}

.advantages__item:nth-child(3) .advantages__item-desc {
	padding-left: 8px;
}

.advantages__item-desc b {
	@include text(700, normal, 18px, 26px, $text-black);
}

.advantages__item-desc p {
	padding-top: 15px;
	@include text(440, normal, 14px, 21px, $text-gray);
}

@media #{$tablet}, print {
	.advantages {
		display: flex;
		flex-wrap: wrap;
	}

	.advantages__reason {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
	}

	.advantages__photo-wrapper {
		flex: 0 0 512px;
		width: 512px;
		height: 256px;
	}

	.advantages > .advantages__reason:nth-child(3) .advantages__photo-wrapper {
		order: 1;
	}

	.advantages > .advantages__reason:nth-child(3) .advantages__desc {
		order: 2;
	}

	.advantages__desc {
		padding: 45px 45px 0 45px;
	}
	
	.advantages > .advantages__reason:nth-child(1) .advantages__desc {
		flex: 1;
		padding-top: 45px;
	}
	
	.advantages > .advantages__reason:nth-child(3) .advantages__desc {
		flex: 1;
		padding-top: 45px;
	}

	.advantages__reason-wrapper {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
	}

	.advantages__reason-wrapper > .advantages__reason {
		flex: 1;
		min-width: 33%;
	}

	.advantages__reason-wrapper .advantages__desc {
		width: 100%;
	}
	
	.advantages__title {
		display: block;
		min-height: 52px;
		@include text(700, normal, 21px, 26px);
	}

	.advantages__reason-wrapper .advantages__title {
		margin: 0 25px;
	}

	.advantages__count {
		padding-bottom: 21px;
	}

	.advantages__reason-wrapper .advantages__about {
		padding-bottom: 44px;
		border-bottom: none;
		word-wrap: break-word;
		overflow-wrap: break-word;
		-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	}

	.advantages__more {
		display: flex;
		flex-wrap: nowrap;
		padding: 34px 0 37px 0;
	}	

	.advantages__item {
		flex-direction: column;
		align-items: center;
		flex: 1;

		&:nth-child(2) {
			order: 3;
			margin-right: 0;
		}

		&:nth-child(3) {
			order: 2;
		}
	}

	.advantages__logo-wrapper {
		padding-top: 25px;
		width: 80px;
		min-width: 80px;
	}
	
	.advantages__item:nth-child(2) .advantages__logo-wrapper {
		padding-top: 15px;
		padding-left: 4px;
	}
	
	.advantages__item:nth-child(3) .advantages__logo-wrapper {
		margin-left: -2px;
		padding-bottom: 1px;
	}
	
	.advantages__logo-house {
		width: 75px;
		height: 72px;
		margin: 0 auto;
		margin-left: 1px;
	}
	
	.advantages__logo-gift {
		width: 64px;
		height: 75px;
		margin: 0 auto;
		margin-top: 8px;
		margin-left: 4px;
	}
	
	.advantages__logo-burger {
		width: 77px;
		height: 68px;
		margin: 0 auto;
		margin-top: 3px;
		margin-left: 2px;
	}

	.advantages__item-desc {
		width: 100%;
		height: 100%;
		padding: 23px 0 24px 0;
		margin: 0;
		text-align: center;
	}
	
	.advantages__item:first-child .advantages__item-desc {
		margin-top: 0;
	}

	.advantages__item:nth-child(3) .advantages__item-desc {
		padding-left: 2px;
	}
	
	.advantages__item-desc b {
		@include text(700, normal, 21px, 26px, $text-black);
	}
	
	.advantages__item-desc p {
		padding: 19px 44px 0 44px;
	}
}

@media #{$desktop}, print {
	.advantages > .advantages__reason:nth-child(1) .advantages__desc {
		padding: 52px 65px 0 65px;
	}

	.advantages > .advantages__reason:nth-child(3) .advantages__desc {
		padding: 53px 65px 0 65px;
	}

	.advantages__title {
		min-height: 0;
		padding: 0 50px;
	}

	.advantages__reason-wrapper .advantages__about {
		padding-bottom: 65px;
	}

	.advantages__photo-wrapper {
		flex: 0 0 800px;
		width: 800px;
		height: 256px;
	}

	.advantages__photo {
		margin-top: -70px;
	}

	.advantages__more {
		padding: 34px 0 57px 0;
	}	

	.advantages__item-desc p {
		padding: 20px 56px 0 56px;
	}
}
