.footer {
	padding: 36px 6.25% 22px 6.25%;
	text-align: center;
}

.footer__visitsedona {
	@include text(700px, normal, 21px, 26px, $text-black);
	text-transform: uppercase;
}

.footer__copyright {
	display: flex;
	justify-content: center;
	padding: 44px 0 0 0;
}

.footer__copyright-text {
	margin-right: 12px;
	@include text(400px, normal, 14px, 26px, $text-black);
	text-transform: uppercase;
}

.footer__copyright-logo {
	display: block;
	width: 27px;
	height: 34px;
	margin-top: -3px;
}

.footer__copyright-logo svg {
	width: 100%;
	height: 100%;

	&:hover {
		fill: $bg-blue;
	}

	&:active {
		fill: #b2b2b2;
	}
}
