.form-contacts {
	padding: 3px 6.25% 29px 6.25%;
	width: 100%;
	border-bottom: 1px solid $bg-input-hover;
}

.form-contacts__title {
	margin-bottom: 20px;
}

.form-contacts__wrapper {
	display: flex;
	flex-wrap: wrap;
	
	input:last-of-type {
		margin-bottom: 0;
	}
}

.form-contacts__label {
	margin-left: 20px;
}

.form-contacts__input {
	min-height: 57px;
	margin-left: 0;
	margin-top: 8px;
	margin-bottom: 5px;
}

.form-contacts__square {
	width: 58px;
	height: 57px;
	margin-top: 8px;	
	background-repeat: no-repeat;
	background-position: center;
	background-color: $bg-form-icons;
	cursor: pointer;

	&--tel {
		background-image: url("../img/icons-svg/icon-phone.svg");
		background-size: 18px auto;
	}

	&--mail {
		background-image: url("../img/icons-svg/icon-mail.svg");
		background-size: 16px auto;
	}
}

.form-contacts__error {
	margin-left: 20px;
	margin-bottom: 11px;
	@include text(400, normal, 14px, 26px, #ff5c5c);
	// visibility: hidden;
}

@media #{$tablet}, print {
	.form-contacts {
		order: 3;
		margin-top: 82px;
		padding: 0;
		border-top: 1px solid $bg-input-hover;
		border-bottom: none;
	}

	.form-contacts__title {
		display: block;
		margin: -14px auto 25px auto;
		width: 400px;
		background-color: $bg-white;
	}

	.form-contacts__wrapper {
		position: relative;
	}

	.form-contacts__input {
		margin-bottom: 23px;
	}

	.form-contacts__error {
		@include pos;
		top: 0;
		right: 0;
	}
}
