.form-sights {
  width: 100%;
	padding: 3px 6.25% 3px 6.25%;
	border-bottom: 1px solid $bg-input-hover;
}

.form-sights__wrapper {
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
}

.form-sights__item {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	padding-right: 22px;
	@include text(700, normal, 18px, 26px, $text-black);
}

.form-sights__checkbox {
	display: none;
}

.form-sights__checkbox-indicator {
	position: relative;
	display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;
  border-radius: 10%;
  background-color: $bg-input;
  cursor: pointer;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  &:hover {
		background-color: $bg-input-hover;
  }

  &:active {
		background-color: $bg-radiobtn-down;
  }
}

.form-sights__checkbox:checked + .form-sights__checkbox-indicator::after {
  @include pos;
  top: 40%; 
  left: 30%; 
  width: 24px;
  height: 16px;
  background-image: url("../img/icons-svg/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 24px auto;
  z-index: 10;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.form-sights__item .form-sights__checkbox-indicator:active::after {
	background-image: url("../img/icons-svg/icon-tick--a.svg");
}

@media #{$tablet}, print {
	.form-sights {
    order: 4;
    margin-top: 78px;
    padding: 0;
    border-top: 1px solid $bg-input-hover;
		border-bottom: none;
  }
  
  .form-sights__title {
    display: block;
		margin: -26px auto 25px auto;
		width: 400px;
		background-color: $bg-white;
  }

  .form-sights__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 12% 0 15%;
  }

  .form-sights__item {
    margin-bottom: 32px;
    padding-right: 0;
    min-width: 214px;
  }
}

@media #{$desktop}, print {
  .form-sights__wrapper {
    padding: 16px 0 0 0;
  }

  .form-sights__item {
    margin-bottom: 30px;
    min-width: 170px;
  }
}
