.form-impression {
	padding: 2px 6.25% 14px 6.25%;
	border-bottom: 1px solid $bg-input-hover;
}

.form-impression__title {
	margin-bottom: 23px;
}

.form-impression__item {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
	@include text(700, normal, 18px, 26px, $text-black)
}

.form-impression__radio {
	display: none;
}

.form-impression__radio-indicator {
	position: relative;
	display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;
  background-color: $bg-input;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
		background-color: $bg-input-hover;
  }

  &:active {
		background-color: $bg-radiobtn-down;
  }
}

.form-impression__radio:checked + .form-impression__radio-indicator::after {
  @include pos;
  top: 31.2%; // 17px
  left: 31.2%; // 17px
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $bg-indicator;
  z-index: 10;
}

.form-impression__item .form-impression__radio-indicator:active::after {
	background-color: $bg-indicator-down;
}

@media #{$tablet}, print {
	.form-impression {
    order: 1;
    width: 50%;
    padding: 0 0 14px 0;
    border-bottom: none;
    border-right: 1px solid $bg-input-hover;
  }
  
  .form-impression__title {
    margin-top: -6px;
    margin-bottom: 58px;
    text-align: left;
  }

  .form-impression__item {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: -14px;
    }
  }

  .form-impression__radio-indicator {
    margin-right: 20px;
  }

  .form-impression__radio:checked + .form-impression__radio-indicator::after {
    @include pos;
    left: 30.7%; 
  }
}

@media #{$desktop}, print {
	.form-impression {
		padding: 0 0 14px 3px;
  }
  
  .form-impression__title {
    margin-left: 77px;
  }
}
