.header {
	position: relative;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: $bg-white;
	background-size: cover;

	&--index {
    min-height: 390px;

    &::before {
	    @include pos;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 57px;
	    background-image: url("../img/icons-svg/bg-intro-triangle-mobile.svg");
	    background-repeat: no-repeat;
	    background-size: 100% 57px;
	  }
  }

  &--other {
  	min-height: 159px;
  	background-position: left bottom;

  	&::before {
	    @include pos;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 57px;
	    background-image: url("../img/icons-svg/bg-intro-triangle-mobile.svg");
	    background-repeat: no-repeat;
	    background-size: 100% 57px;
	  }
  }
}

@media #{$retina} {
  .header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.header__text {
	margin: 0 auto;

	&--index {
		width: 282px;
		height: 390px;
	 	background-image: url("../img/icons-svg/text-sedona-index.svg");
	  background-repeat: no-repeat;
	  background-position: center 90px;
	  background-size: 282px 214px;
  }

	&--other {
  	width: 229px;
		height: 159px;
	 	background-image: url("../img/icons-svg/text-sedona.svg");
	  background-repeat: no-repeat;
	  background-position: center 50px;
	  background-size: 229px 39px;
  }
}

@media #{$tablet}, print {
	.header {
		background-image: url("../img/bg-back-tablet@1x.jpg");
	
		&--index {
			min-height: 517px;
	
			&::before {
				background-image: url("../img/icons-svg/bg-intro-triangle-tablet.svg");
			}
		}
	
		&--other {
			min-height: 289px;
	
			&::before {
				background-image: url("../img/icons-svg/bg-intro-triangle-tablet.svg");
			}
		}
	}

	@media #{$retina} {
		.header {
			background-image: url("../img/bg-back-tablet@2x.jpg");
		}
	}

	.header__text {
		margin: 0 auto;
	
		&--index {
			width: 460px;
			height: 500px;	
			background-size: 460px auto;
			transform: translate(0, -15px);
		}
	
		&--other {
			width: 458px;
			height: 150px;
			background-size: 458px auto;
			transform: translate(0, 42px);
		}
	}
}
