.hotels {
	padding: 29px 6.25% 48px 6.25%;
	text-align: center;
	text-transform: uppercase;
}

.hotels__title {
	@include text(700, normal, 21px, 26px, $text-black);
}

.hotels__deals {
	padding: 18px 0 35px 0;
	@include text(400, normal, 14px, 24px, $text-gray);
}

.hotels__search {
	width: 100%;

	a {
		display: block;
		padding: 16px 0 16px 0;
		@include text(700, normal, 21px, 26px, $text-white);
		text-transform: uppercase;
		background-color: $bg-blue;
		cursor: pointer;

		&:hover {
			background-color: $bg-blue-hover;
		}

		&:active {
			background-color: $bg-blue-down;
			color: $text-btn-down;
		}

		&:disabled {
			background-color: $bg-input-hover;
		}
	}
}

@media #{$tablet}, print {
	.hotels {
		padding: 56px 20.1823% 59px 20.1823%;
	}

	.hotels__title {
		@include text(700, normal, 30px, 26px, $text-black);
	}

	.hotels__deals {
		padding: 27px 0 42px 0;
	}
}

@media #{$desktop}, print {
	.hotels {
		padding: 56px 30.833% 65px 30.833%;
	}

	.hotels__deals {
		padding: 27px 0 47px 0;
	}
}
