.main-title {
	position: relative;

	&::after {
		@include pos;
		bottom: -17px;
		right: 0;
		width: 100%;
		height: 37px;
		background-image: url("../img/icons-svg/bg-triangle.svg");
		background-repeat: no-repeat;
		background-size: 100% 37px;
	}
}

.main-title__name {
	margin: 0 auto;
	padding: 39px 6.875% 24px 6.875%;
	@include text(700, normal, 18px, 26px, $text-black);
	text-align: center;
	text-transform: uppercase;
}

.main-title__desc {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;

	&--index {
		padding: 2px 6.875% 27px 6.875%;
		@include text(400, normal, 14px, 26px, $text-gray);
	}

	&--media {
		padding: 0 6.25% 26px 6.25%;
		border-bottom: 1px solid $bg-input-hover;
		@include text(400, normal, 14px, 24px, $text-gray);
	}

	&--form {
		padding: 0 6.25% 18px 6.25%;
		border-bottom: 1px solid $bg-input-hover;
		@include text(400, normal, 14px, 24px, $text-gray);
	}
}

@media #{$tablet}, print {
	.main-title {
	
		&::after {
			display: none;
		}
	}

	.main-title__name {
		padding: 50px 20.83% 24px 20.83%;
		@include text(700, normal, 21px, 26px, $text-black);

		&--other {
			padding-top: 74px;
			padding-bottom: 31px;
			@include text(700, normal, 30px, 26px, $text-black);
		}
	}

	.main-title__desc {

		&--index {
			padding-top: 4px;
			padding-bottom: 50px;
		}

		&--media, &--form {
			padding: 0 20.83% 47px 20.83%;
			border-bottom: none;
		}
	}
}

@media #{$desktop}, print {
	.main-title__name {
		padding: 50px 30.833% 24px 30.833%;

		&--other {
			padding-top: 111px;
			padding-bottom: 31px;
		}
	}

	.main-title__desc {

		&--media, &--form {
			padding: 0 31.3% 49px 31.3%;
		}
	}
}
