.main-nav__menu {
	background-color: $bg-blue-nav;
}

.main-nav--closed {
  display: none;
}

.main-nav--opened {
  display: block;
}

.main-nav__item {
  position: relative;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 0 rgba(225, 225, 225, 0.4), 
							0 1px 0 0 $bg-blue;

	&:last-child {
		border-bottom: none;
		box-shadow: inset 0 -1px 4px 0px rgba(0, 0, 0, 0.3);
	}
	
  &:hover, &:focus, &:focus:hover {
		background-color: $bg-blue-hover;
  }

  &:active {
  	background-color: $bg-blue-down;
  }

  &--active:active {
  	background-color: $bg-blue-hover;
  }
}

.main-nav__item a {
	display: block;
  padding: 7px 6.25% 8px 6.25%;
	@include text(700, normal, 18px, 40px);
	color: $text-white;
	text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:link, &:visited {
  	color: $text-white;
    text-decoration: none;
  }

  &:hover {
  	color: $text-white;
    text-decoration: none;
  }

  &:active {
  	color: $text-btn-down;
  	text-decoration: none;
  }
}

.main-nav__item .main-nav__link--active {
	color: $text-white;
  cursor: default;

  &:active {
  	color: $text-white;
  }
}

.main-nav__opener {
	position: relative;
	min-height: 56px;
}

.main-nav__logo-wrapper {
  position: relative;
  display: block;
  width: 102px;
  margin: 0 auto;
}

.main-nav__logo {
  @include pos;
  top: 0;
  left: 0;
  z-index: 10;
}

// Бургер
.main-nav__open-btn {
	@include pos;
	top: 17px;
	right: 21px;
	width: 23px;
	height: 21px;
	font-size: 0;
	background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    @include pos;
    top: 0;
    left: 0;
    width: 24px;
    height: 4px;
    background-color: $bg-blue;
    box-shadow: 0 9px 0 0 $bg-blue,
                0 18px 0 0 $bg-blue;
  }
}

// Крестик
.main-nav__close-btn {
	@include pos;
	top: 19px;
	right: 22px;
	width: 23px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
  cursor: pointer;
  border: none;

	&::before,
  &::after {
    @include pos;
    top: 8px;
    right: -4px;
    width: 27px;
    height: 5px;
    background-color: $bg-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}


@media #{$tablet}, print {
  .main-nav__menu,
  .main-nav--closed {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: $bg-white;   
  }

  .main-nav__item {
    display: inline-block;
    min-width: 19.53125%;
    border-bottom: none;
    box-shadow: none;

    &:nth-child(3) {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0;
      box-shadow: none;
    }
    
    &:hover, &:focus, &:focus:hover {
      background-color: $bg-white;
    }

    &:active {
      background-color: $bg-white;
    }
  }

  .main-nav__item a {
    padding: 15px 25px 15px 20px;
    @include text(700, normal, 14px, 26px);
    color: $text-black;

    &:link, &:visited {
      color: $text-black;
    }

    &:hover {
      color: $text-blue;
    }

    &:active {
      color: #b2b2b2;
    }
  }

  .main-nav__item:first-child a {
    padding: 15px 49px 15px 49px;
  }

  .main-nav__item:nth-child(2) a {
    padding: 15px 29px 15px 29px;
  }

  .main-nav__item:nth-child(3) a {
    padding: 15px 27px 15px 30px;
  }

  .main-nav__item .main-nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
    }
  }

  .main-nav__opener {
    min-height: 57px;
    width: 102px;
    margin: 0 auto;
    margin-top: -56px;
  }

  .main-nav__open-btn,
  .main-nav__close-btn {
    display: none;
  }
}

@media #{$desktop}, print {
  .main-nav__item:nth-child(2) a {
    padding: 15px 29px 15px 40px;  
  }

  .main-nav__item:nth-child(3) a {
    padding: 15px 42px 15px 30px;
  }

  .main-nav__opener {
    width: 188px;
  }

  .main-nav__logo-wrapper {
    width: 188px;
  }

  .main-nav__logo {
    width: 188px;
    height: auto;
  }
}
