.main-title {
	position: relative;

	&::after {
		@include pos;
		bottom: -21px;
    right: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/icons-svg/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 37px;
	}
}

.main-title__name {
	max-width: 320px;
	margin: 0 auto;
	padding: 39px 22px 24px 22px;
	@include text(700, normal, 18px, 26px, $text-black);
	text-align: center;
	text-transform: uppercase;
}

.main-title__desc {
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;

	&--index {
		padding: 2px 22px 27px 22px;
		@include text(400, normal, 14px, 26px, $text-gray);
	}

	&--media {
		padding: 0 20px 26px 20px;
		border-bottom: 1px solid $bg-input-hover;
		@include text(400, normal, 14px, 24px, $text-gray);
	}

	&--form {
		padding: 0 20px 18px 20px;
		border-bottom: 1px solid $bg-input-hover;
		@include text(400, normal, 14px, 24px, $text-gray);
	}
}
