.map {
	position: relative;
	max-width: 768px; 
	height: 350px;
	margin: 0 auto;
	background-image: url("../img/bg-map-tablet@1x.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $bg-white;
	background-size: auto;
	-webkit-print-color-adjust: exact;
  print-color-adjust: exact;

	&::after {
		@include pos;
		top: 45.72%;
		left: 48.18%;
		width: 27px;
		height: 27px;
		background-image: url("../img/icons-svg/icon-map-marker.svg");
		background-repeat: no-repeat;
		background-size: 27px 27px;
	}
}

@media #{$retina} {
  .map {
    background-image: url("../img/bg-map-tablet@2x.jpg");
  }
}

@media #{$tablet}, print {
	.map {
		max-width: 1200px; 
		background-image: url("../img/bg-map-desktop@1x.jpg");

		&::after {
			top: 46.8%;
			left: 48.7%;
		}
	}

	@media #{$retina} {
		.map {
			background-image: url("../img/bg-map-desktop@2x.jpg");
		}
	}
}

@media #{$desktop}, print {
	.map {

		&::after {
			top: 46.6%;
			left: 48.9%;
		}
	}
}
