.popup__success {
	position: fixed;
  top: 40vh;
  left: 0;
  width: 100%;
  height: auto;
  padding: 42px 40px 0 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-white;
  box-shadow: 0px 7px 32px 0 rgba(0, 1, 1, 0.15);
  z-index: 30;

	&--closed {
		display: none;
	}

	&--opened {
		display: block;
	}
}

.popup__success-title {
	@include text(700, normal, 18px, 26px, $text-black);

	span {
		font-weight: 400;
	}
}

.popup__success-desc {
	padding: 26px 0 35px 0;
	@include text(400, normal, 14px, 24px, $text-gray);
}

.popup__success-wrapper {
	margin: 0 -40px;
	padding: 20px 7%;
	background-color: $bg-input;
}

.popup__success-btn {
	width: 100%;
	padding: 16px 0;
	@include text(700, normal, 18px, 26px, $text-white);
	text-align: center;
	text-transform: uppercase;
	background-color: $bg-blue;
	cursor: pointer;

	&:hover {
		background-color: $bg-blue-hover;
	}

	&:active {
		background-color: $bg-blue-down;
		color: $text-btn-down;
	}

	&:disabled {
		background-color: $bg-input-hover;
	}
}

.popup__failure {
	position: fixed;
  top: 40vh;
  left: 0;
  width: 100%;
  height: auto;
  padding: 45px 20% 35px 20%;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-white;
  box-shadow: 0px 7px 32px 0 rgba(0, 1, 1, 0.15);
  z-index: 30;

	&--closed {
		display: none;
	}

	&--opened {
		display: block;
	}
}

.popup__failure-title {
	@include text(700, normal, 18px, 26px, $text-black);

	span {
		font-weight: 400;
	}
}

.popup__failure-desc {
	padding: 22px 0;
	@include text(400, normal, 14px, 24px, $text-gray);
}

.popup__failure-wrapper {
	padding: 0 11.5%; // 25px
}

.popup__failure-btn {
	width: 100%;
	padding: 16px 0;
	@include text(700, normal, 18px, 26px, $text-white);
	text-align: center;
	text-transform: uppercase;
	background-color: $bg-blue;
	cursor: pointer;

	&:hover {
		background-color: $bg-blue-hover;
	}

	&:active {
		background-color: $bg-blue-down;
		color: $text-btn-down;
	}

	&:disabled {
		background-color: $bg-input-hover;
	}
}

.popup__overlay {
	position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 20;

  &--closed {
		display: none;
	}

	&--opened {
		display: block;
	}
}

@media #{$tablet}, print {
	.popup__success {
		top: 35vh;
		left: 7.8125%;
		width: 84.375%;
		padding: 60px 0 0 0;
	}

	.popup__success-title {
		@include text(700, normal, 30px, 26px, $text-black);
	}

	.popup__success-desc {
		padding: 26px 17% 35px 17%;
	}

	.popup__success-wrapper {
		margin: 0;
		padding: 44px 14.66%;
	}

	.popup__success-btn {
		@include text(700, normal, 21px, 26px, $text-white);
	}

	.popup__failure {
		top: 35vh;
		left: 23.9583%;
		width: 52.0834%;
		padding: 56px 0 35px 0;
	}

	.popup__failure-title {
		display: block;
		padding: 0 20%;
		@include text(700, normal, 30px, 40px, $text-black);
	}

	.popup__failure-desc {
		padding: 22px 15% 35px 15%;
	}

	.popup__failure-wrapper {
		padding: 0 16.25% 13px 16.25%;
	}

	.popup__failure-btn {
		@include text(700, normal, 21px, 26px, $text-white);
	}
}

@media #{$desktop}, print {
	.popup__success {
		@include pos();
		top: 62%;
		left: 23.33%;
		width: 53.34%;
	}

	.popup__failure {
		@include pos();
		top: 62%;
		left: 33.33%;
		width: 33.34%;
	}
}
