.review-form__subtitle {
	@include text(700, normal, 18px, 26px, $text-black);
	text-align: center;
	text-transform: uppercase;
}

.review-form__label {
	@include text(400, normal, 14px, 26px, $text-gray);
	text-transform: uppercase;
}

.review-form__input {
	flex-grow: 1;
	margin-left: 14px;
	margin-bottom: 22px;
	padding: 20px;
	border: none;
	background-color: $bg-input;

	&::-webkit-input-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &::-moz-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &:-moz-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &:-ms-input-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }
}

.review-form__new-string {
	width: 100%;
}

.review-form__submit {

}

.review-form__submit-btn {

}

.review-form__necessarily {

}
