.review-form__subtitle {
	@include text(700, normal, 18px, 26px, $text-black);
	text-align: center;
	text-transform: uppercase;
}

.review-form__label {
	@include text(400, normal, 14px, 26px, $text-gray);
	text-transform: uppercase;
}

.review-form__input {
	flex-grow: 1;
	margin-left: 14px;
	margin-bottom: 22px;
	padding: 20px;
	border: none;
	background-color: $bg-input;

	&::-webkit-input-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &::-moz-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &:-moz-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &:-ms-input-placeholder {
    @include text(700, normal, 16px, 26px, $text-black);
  }

  &:hover {
  	background-color: $bg-input-hover;
  }

  &:active {
  	background-color: $bg-white;
  	box-shadow: inset 4px 4px 0 0 $bg-input-hover,
  							inset -4px -4px 0 0 $bg-input-hover;
  	outline: none;
  }

  &:focus {
		background-color: $bg-white;
  	box-shadow: inset 4px 4px 0 0 $bg-input-hover,
  							inset -4px -4px 0 0 $bg-input-hover;
  }
}

.review-form__new-string {
	width: 100%;
}

.review-form__submit {
	padding: 0 6.25% 38px 6.25%;
}

.review-form__submit-btn {
	width: 100%;
	padding: 16px 0;
	@include text(700, normal, 21px, 26px, $text-white);
	text-align: center;
	text-transform: uppercase;
	background-color: $bg-blue;
	cursor: pointer;

	&:hover {
		background-color: $bg-blue-hover;
	}

	&:active {
		background-color: $bg-blue-down;
		color: $text-btn-down;
	}

	&:disabled {
		background-color: $bg-input-hover;
	}
}

.review-form__necessarily {
	display: none;
}

@media #{$tablet}, print {
	.review-form {
		display: flex;
		flex-wrap: wrap;
		padding: 33px 7.8125% 0 7.8125%;
	}

	.review-form__subtitle {
		@include text(700, normal, 21px, 26px, $text-black);
	}

	.review-form__submit {
		order: 6;
		padding: 0 0 38px 0;
	}

	.review-form__submit {
		display: flex;
		justify-content: space-between;
		padding: 54px 0 61px 0;
		width: 100%;
	}

	.review-form__submit-btn {
		width: auto;
		padding: 16px 74px 16px 70px;
	}

	.review-form__necessarily {
		display: block;
		margin-right: -2px;
		padding: 20px 0 0 0;
		text-transform: uppercase;
	}
}
