.video {
	position: relative;
	margin-bottom: -5px;
}

.video__desc {
	padding: 34px 25.07% 35px 25.07%;
	text-align: center;
	text-transform: uppercase;
}

.video__title {
	@include text(700, normal, 18px, 26px, $text-black);
}

.video__text {
	padding-top: 26px;
	@include text(400, normal, 14px, 24px, $text-gray);
}

.video__presentation img, 
.video__presentation source {
	display: block;
	width: 100%;
	height: auto;
}

.video__controls {
	padding: 0 20px;
}

.video__bar-wrapper {
	position: relative;
	padding: 23px 22px 19px 22px;
	transform: translate(0, -100%);
	background-color: rgba(0, 0, 0, 0.6);

	&::after {
		@include pos;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(80, 76, 74, 0.2);
	}
}

.video__bar {
	position: relative;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.4);

	&::after {
		@include pos;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(80, 76, 74, 0.2);
	}
}

.video__toggle {
	@include pos;
	top: -100%;
	left: 15.254%; // 36px
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: $bg-white;
	z-index: 10;
	cursor: pointer;
}

.video__btns {
	display: flex;
	justify-content: space-between;
	transform: translate(0, -67%);
	padding: 22px 23px 18px 23px;
	background-color: $bg-input;
}

.video__btn {
	fill: #5c6870;
	z-index: 10;
	cursor: pointer;

	&:hover {
		fill: #333333;
	}

	&:active {
		fill: #c1c1c1;
	}
}

.video__replay {
	width: 16px;
	height: 20px;
}

.video__subtitles {
	width: 32px;
	height: 20px;
	margin-right: 27px;
}

.video__fullscreen {
	width: 20px;
	height: 20px;
}

@media #{$tablet}, print {
	.video {
		margin-bottom: 42px;
	}

	.video__desc {
		padding: 66px 22% 72px 22%;
	}
	
	.video__title {
		@include text(700, normal, 30px, 26px, $text-black);
	}
	
	.video__text {
		padding-top: 27px;
	}

	.video__presentation {
		display: block;
		padding: 0 7.8125%;
	}

	.video__controls {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 7.8125%;
	}

	.video__bar-wrapper {
		order: 2;
		z-index: 10;
		padding: 23px 5px 19px 3px;
		margin: 0 160px 0 90px;
		transform: translate(0, -355%);
		background-color: transparent;
		
		&::after {
			display: none;
		}
	}

	.video__bar {
		background-color: rgba(255, 255, 255, 0.3);
	
		&::after {
			background-color: rgba(80, 76, 74, 0.2);
		}
	}

	.video__toggle {
		left: 28.9%;
	}

	.video__btns {
		position: relative;
		order: 1;
		padding: 35px 41px 30px 35px;
		transform: translate(0, -100%);
		background-color: rgba(0, 0, 0, 0.6);

		&::after {
			@include pos;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(80, 76, 74, 0.2);
		}
	}

	.video__btn {
		fill: $bg-white;

		&:hover {
			fill: #81b3d2;
		}

		&:active {
			fill: #b2b2b2;
		}
	}

	.video__btns-wrapper {
		z-index: 10;
	}
}
